.id_txt {
position: absolute;
width: 79px;
height: 27px;
left: 30px;
top: 140px;

font-family: 'Kaisei HarunoUmi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
display: flex;
align-items: flex-end;

color: #039000;
}

.id_box {
box-sizing: border-box;
position: absolute;
width: 300px;
height: 45px;
left: 30px;
top: 167px;

background: #FFFFFF;
border: 1px solid rgba(3, 144, 0, 0.3);
}

.password_txt {
position: absolute;
width: 79px;
height: 27px;
left: 30px;
top: 212px;

font-family: 'Kaisei HarunoUmi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
display: flex;
align-items: flex-end;

color: #039000;
}

.password_box {
box-sizing: border-box;
position: absolute;
width: 300px;
height: 45px;
left: 30px;
top: 239px;

background: #FFFFFF;
border: 1px solid rgba(3, 144, 0, 0.3);
}

.login_button {
position: absolute;
width: 79px;
height: 27px;
left: 140px;
top: 364px;

font-family: 'Kaisei HarunoUmi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
display: flex;
align-items: flex-end;
text-align: center;
color: #039000;

position: absolute;
width: 300px;
height: 45px;
left: 31px;
top: 354px;

background: rgba(3, 144, 0, 0.4);
}

.signup_button {
position: absolute;
width: 79px;
height: 27px;
left: 140px;
top: 418px;

font-family: 'Kaisei HarunoUmi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
display: flex;
align-items: flex-end;
text-align: center;
color: #039000;

position: absolute;
width: 300px;
height: 45px;
left: 31px;
top: 410px;

background: rgba(3, 144, 0, 0.2);
}