@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap");

.Topbarstyle {
  width: 100%;
  background-color: #ffffff;
  height: 55px;
  border-bottom: 1px solid rgba(3, 144, 0, 0.3);
  display: flex;
}

.Eroetext {
  width: 372px;
  margin: auto;
  margin-top: -5px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: #039000;
  align-items: flex-end;
  font-family: "Kaisei HarunoUmi", serif;
}

.input_standard {
  width: 90%;
  height: 100%;
  margin: 85px auto 0 auto;
}

.id_txt {
  width: 100%;
  height: 27px;

  font-family: "Kaisei HarunoUmi";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 29px;
  display: flex;
  align-items: flex-end;

  color: #039000;
}

.id_box {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin: 4px auto;
  background: #ffffff;
  border: 1px solid rgba(3, 144, 0, 0.3);
}

.password_txt {
  width: 100%;
  height: 27px;

  margin-top: 10px;
  font-family: "Kaisei HarunoUmi";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 29px;
  display: flex;
  align-items: flex-end;

  color: #039000;
}

.password_box {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin: 4px auto;
  background: #ffffff;
  border: 1px solid rgba(3, 144, 0, 0.3);
}

.login_button {
  width: 100%;
  height: 45px;
  margin: 4px auto;
  margin-top: 20px;
  background: rgba(3, 144, 0, 0.4);
  color: #039000;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  padding-top: 5px;
  text-align: center;
  border: none;
}

.signup_button {
  width: 100%;
  height: 45px;
  margin: 4px auto;
  background: rgba(3, 144, 0, 0.2);
  color: #039000;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  padding-top: 5px;
  text-align: center;
  border: none;
}
.find {
  display: flex;
  color: #039000;
}

.find-btn {
  margin-right: 5px;
  color :#039000;
}
.signup_button2{
  width: 100%;
  height: 45px;
  margin: 4px auto;
  background: rgba(3, 144, 0, 0.2);
  color: #039000;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  padding-top: 5px;
  text-align: center;
  border: none;
  
}
