.standard {
    width: 90%;
    height: 100%;
    margin: 15px auto 0px auto;
  }
  .user_box {
    width : 100%;
    background: rgba(3, 144, 0, 0.3);
    border-radius: 30px;
    height: 151px;
    display : flex;
    margin-top: 6px;
  }
  .user_name {
    width: 103px;
    height: 103px;
    background: rgba(3, 144, 0, 0.4);
    border-radius: 50px;
    margin: auto 0px auto 0px;
  }

  .user_nickname{
    width: 100%;
height: 23px;
left: 24px;
top: 117px;

font-family: 'Julee';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: flex-end;
text-align: center;

color: #039000;

  }

.user_info{
    width: 100%;
height: 50px;
color : green;

background: rgba(3, 144, 0, 0.4);
border-radius: 30px;
}
.user_logoutbox{
    
width: 100%;
height: 50px;
color : green;


background: rgba(3, 144, 0, 0.4);
border-radius: 30px;
    
}
.buttonbox{
    width : 100%;
    
}

