/* .bkg{
    width: 338px;
    height: 151px;
    left: 11px;
    top: 76px;

    background: rgba(3, 144, 0, 0.3);
    border-radius: 30px;

}
.bkp{
    width: 103px;
    height: 103px;
    left: 22px;
    top: 12px;
    background: rgba(3, 144, 0, 0.4);
}
.bkmyinfo{
    width: 185px;
    height: 50px;
    left: 136px;
    top: 17px;

    background: rgba(3, 144, 0, 0.4);
    border-radius: 30px;

}
.bklogout{
    width: 185px;
    height: 50px;
    left: 136px;
    top: 84px;

    background: rgba(3, 144, 0, 0.4);
    border-radius: 30px;
} */