.setting_button {
width: 100%;
height: 55px;
left: 0px;
top: 55px;
border: none;

background: rgba(3, 144, 0, 0.4);

font-family: 'Kaisei HarunoUmi';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #039000;
}

.notice_button {
width: 100%;
height: 55px;
left: 0px;
top: 110px;
border: none;

background: rgba(3, 144, 0, 0.2);

font-family: 'Kaisei HarunoUmi';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #039000;
}

.notice_setting_button {
    width: 100%;
    height: 55px;
    left: 0px;
    top: 220px;
    border: none;
    display: flex;
    align-items: center;



    
    background: rgba(3, 144, 0, 0.4);
    
    font-family: 'Kaisei HarunoUmi';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        color: #039000;
}
.service_center_button {
width: 100%;
height: 55px;
left: 0px;
top: 275px;
border: none;

background: rgba(3, 144, 0, 0.2);

font-family: 'Kaisei HarunoUmi';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #039000;
}

.center {
    width: 100%;
    margin: 0;
    text-align: center;
}

.to {
    display: flex;
    align-items: flex-end;
    padding-right: 23px;
}