@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap");

.Topbarstyle {
    width: 100%;
    background-color: #ffffff;
    height: 55px;
    border-bottom: 1px solid rgba(3, 144, 0, 0.3);
    display: flex;
  }

  .Eroetext {
    width: 372px;
    margin: auto;
    margin-top: -5px;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    color: #039000;
    align-items: flex-end;
    font-family: "Kaisei HarunoUmi", serif;
  }

.signup_txt {
width: 100%;
height: 27px;
left: 7px;
top: 79px;

font-family: "Kaisei HarunoUmi";
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 29px;
display: flex;
align-items: flex-end;

color: #039000;}

.id_txt {
width: 100%;
height: 27px;
left: 31px;
top: 123px;

font-family: 'Kaisei HarunoUmi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
display: flex;
align-items: flex-end;

color: #039000;
}

.id_box {
box-sizing: border-box;
position: absolute;
width: 100%;
height: 45px;
margin: 4px auto;
background: #FFFFFF;
border: 1px solid rgba(3, 144, 0, 0.3);
}

.password_txt {
width: 100%;
height: 27px;
left: 30px;
top: 195px;

font-family: 'Kaisei HarunoUmi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
display: flex;
align-items: flex-end;

color: #039000;
}

.password_box {
box-sizing: border-box;
width: 100%;
height: 45px;
margin: 4px auto;
background: #FFFFFF;
border: 1px solid rgba(3, 144, 0, 0.3);
}

.passwordconfirm_txt {
width: 100%;
height: 27px;
left: 30px;
top: 267px;

font-family: 'Kaisei HarunoUmi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
display: flex;
align-items: flex-end;

color: #039000;
}

.passwordconfirm_box {
box-sizing: border-box;
width: 300px;
height: 45px;
margin: 4px auto; 
background: #FFFFFF;
border: 1px solid rgba(3, 144, 0, 0.3);
}

.email_txt {
width: 100%;
height: 27px;
left: 31px;
top: 339px;

font-family: 'Kaisei HarunoUmi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
display: flex;
align-items: flex-end;

color: #039000;
}

.email_box {
box-sizing: border-box;
width: 300px;
height: 45px;
margin: 4px auto;
background: #FFFFFF;
border: 1px solid rgba(3, 144, 0, 0.3);
}

.address_txt {
width: 100%;
height: 27px;
left: 31px;
top: 413px;

font-family: 'Kaisei HarunoUmi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
display: flex;
align-items: flex-end;

color: #039000;
}

.address_box {
box-sizing: border-box;
width: 100%;
height: 45px;
margin: 4px auto;
background: #FFFFFF;
border: 1px solid rgba(3, 144, 0, 0.3);
}

.name_txt {
width: 100%;
height: 27px;
left: 31px;
top: 485px;

font-family: 'Kaisei HarunoUmi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
display: flex;
align-items: flex-end;

color: #039000;
}

.name_box {
box-sizing: border-box;
width: 100%;
height: 45px;
margin: 4px auto;
background: #FFFFFF;
border: 1px solid rgba(3, 144, 0, 0.3);
}

.submit_button {
width: 100%;
height: 27px;
left: 141px;
top: 697px;

font-family: 'Kaisei HarunoUmi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
display: flex;
align-items: flex-end;
text-align: center;
color: #039000;

width: 100%;
height: 45px;
left: 31px;
top: 689px;
background: rgba(3, 144, 0, 0.4);
}